
<ion-header>

  <ion-navbar>
    <ion-title>escolha</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<!-- <ion-slides pager="true" style="height:20%">
  <ion-slide *ngFor="let foto of carro.fotos">
    <img src="{{foto}}" alt="">
  </ion-slide>
</ion-slides> -->

  <!-- <ion-item-divider color="light">
    <ion-icon name="car"></ion-icon>
    VEICULO
  </ion-item-divider>
  <ion-item-group>
    <ion-item>{{carro.nome}}</ion-item>
    <ion-item>R${{carro.preco}}</ion-item>
  </ion-item-group> -->

<ion-item-group>
<!-- <ion-item-divider>
      <ion-icon name="options"></ion-icon>
    Acessorios
  </ion-item-divider>
  <ion-item *ngFor="let ac of acessorios">
    <ion-label>
      <h2>{{ac.nome}}</h2>

    </ion-label>
    <ion-toggle #toggle color="secondary"
      (ionChange)="attPrecoAc(toggle,ac.preco)"></ion-toggle>
  </ion-item> -->
</ion-item-group>

  <ion-item-divider>
      <span item-right>total R${{_precoTotal}}</span>
    </ion-item-divider>

    <!-- <div ion-fixed>
    <ion-fab top right edge>
      <button ion-fab>
      <ion-icon name="arrow-dropright"></ion-icon>
      </button>
    </ion-fab>
    </div> -->

    <ion-fab top right edge>
      <button ion-fab mini (click)='avancarCadastro();'>
        <ion-icon name="arrow-dropright"></ion-icon>
      </button>
    </ion-fab>

    <!-- <ion-content>
      <ion-fab ion-fixed top right >
        <button io-fab>
        <ion-icon name="arrow-dropright"></ion-icon>
        </button>
      </ion-fab>
    </ion-content>   -->
    <!-- <button ion-button block>Avançar</button> -->


</ion-content>
