
<ion-header>

  <ion-navbar>
    <ion-title>Lista agendamentos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item [class.falha]="!ag.enviado"  *ngFor='let ag of agendamentos'>
      <h4>Cliente: {{ag.nomeC}}</h4>
      <h4>Modelo: {{ag.modeloC}}</h4>

      <button ion-button item-end icon-only clear
      *ngIf="!ag.enviado"
      (click)="reenvia(ag)">
        <ion-icon name="refresh"></ion-icon>
      </button>

    </ion-item>
  </ion-list>
</ion-content>
